<!doctype html>
<html lang='en'>
  <head>
    <title>muddy</title>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <link rel='stylesheet' type='text/css' media='all' href='/css/screen.css' />

    <script type='text/javascript' src='/js/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='http://cdn.socket.io/stable/socket.io.js'></script>
    <script type='text/javascript' src='/js/muddy.js'></script>
  </head>

  <body>
    <div id='container'>
      <div id='aliases'>
        <h2>Aliases</h2>

        <ul>
          <li><strong>q</strong> to quaff potion</li>
          <li><strong>home</strong> to rub homing stone</li>
        </ul>
      </div>

      <div id='client'>
        <div id='output'>
          <pre></pre>
        </div>

        <input type='text' />
      </div>
      
      <div id='triggers'>
        <h2>Triggers</h2>

        <ul>
          <li>when <strong>shit on</strong> then <strong>vomit</strong></li>
        </ul>
      </div>
    </div>
  </body>
</html>
