body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #575757;
  background: #272727;
  background-image: url('/img/background.png');
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#container {
  overflow: hidden;
  margin: 25px auto;
  width: 960px;
}

  #container #aliases {
    text-align: right;
  }

  #container #aliases,
  #container #triggers {
    float: left;
    padding: 10px;
    width: 155px;
  }

    #container #aliases h2,
    #container #triggers h2 {
      margin: 0 0 5px 0;
      padding: 0 0 5px 0;
      font-size: 16px;
      text-shadow: 1px 1px 1px #1b1b1b;
      border-bottom: 1px solid #303030;
    }

    #container #aliases ul li,
    #container #triggers ul li {
      margin: 0 0 5px 0;
    }

      #container #aliases ul li strong,
      #container #triggers ul li strong {
        color: #dddddd;
        text-shadow: 1px 1px 1px #1b1b1b;
      }

  #container #client {
    float: left;
    padding: 10px;
    width: 585px;
    background: #1b1b1b;
    border: 1px solid #2b2b2b;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
  }

    #container #client #tabs {
      margin: 0 0 10px 0;
      padding: 1px 0 10px 0;
      border-bottom: 1px solid #272727;
    }

      #container #client #tabs ul li {
        display: inline;
        margin: 0 5px 0 0;
      }

        #container #client #tabs ul li a:link,
        #container #client #tabs ul li a:visited {
          padding: 3px 5px;
          text-decoration: none;
          color: #575757;
          background: #111111;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }

        #container #client #tabs ul li a:hover,
        #container #client #tabs ul li a.selected {
          color: #999999;
        }

    #container #client #output {
      overflow-x: hidden;
      overflow-y: scroll;
      font-family: DroidSansMono;
      line-height: 14px;
      white-space: pre-wrap;
      color: #dddddd;
      width: 580px;
      height: 450px;
      background: #1b1b1b;
    }

        #container #client #output span.bold {
          font-weight: bold;
        }

        #container #client #output span.underline {
          text-decoration: underline;
        }

        #container #client #output span.normal {
          color: #dddddd;
          font-weight: normal;
          text-decoration: none;
        }

        #container #client #output span.self {
          color: #5d5d5d;
        }

        #container #client #output span.black {
          color: #4a4a4a;
        }

        #container #client #output span.red {
          color: #d08356;
        }

        #container #client #output span.green {
          color: #a2a96f;
        }

        #container #client #output span.yellow {
          color: #e3d96f;
        }

        #container #client #output span.blue {
          color: #8a9597;
        }

        #container #client #output span.magenta {
          color: #be96b3;
        }

        #container #client #output span.cyan {
          color: #74dad9;
        }

        #container #client #output span.white {
          color: #ffffff;
        }

        #container #client #output span.black-bg {
          background: #4a4a4a;
        }

        #container #client #output span.red-bg {
          background: #d08356;
        }

        #container #client #output span.green-bg {
          background: #a2a96f;
        }

        #container #client #output span.yellow-bg {
          background: #e3d96f;
        }

        #container #client #output span.blue-bg {
          background: #8a9597;
        }

        #container #client #output span.magenta-bg {
          background: #be96b3;
        }

        #container #client #output span.cyan-bg {
          background: #74dad9;
        }

        #container #client #output span.white-bg {
          background: #ffffff;
        }

    #container #client input {
      margin: 10px 0 0 0;
      padding: 0;
      width: 580px;
      font-family: DroidSansMono;
      font-size: 10px;
      color: #dddddd;
      background: #1b1b1b;
      border: 0;
    }

      #container #client input:focus {
        outline: none;
      }
