body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #575757;
  background: #272727;
  background-image: url('/img/background.png');
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

#container {
  margin: 50px auto;
  width: 900px;
}

  #container #client {
    margin: 0 auto;
    padding: 10px;
    width: 580px;
    background: #1b1b1b;
    border: 1px solid #2b2b2b;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
  }

    #container #client #output {
      overflow-x: hidden;
      overflow-y: scroll;
      width: 580px;
      height: 400px;
      background: #1b1b1b;
    }

      #container #client #output pre {
        margin: 0;
        padding: 0;
        color: #dddddd;
      }

        #container #client #output pre span.self {
          color: #5d5d5d;
        }

        #container #client #output pre span.black {
          color: #4a4a4a;
        }

        #container #client #output pre span.black-bg {
          background: #000000;
        }

        #container #client #output pre span.white {
          color: #ffffff;
        }
        
        #container #client #output pre span.red {
          color: #d08356;
        }

        #container #client #output pre span.green {
          color: #a2a96f;
        }

        #container #client #output pre span.yellow {
          color: #e3d96f;
        }

        #container #client #output pre span.blue {
          color: #8a9597;
        }

        #container #client #output pre span.magenta {
          color: #be96b3;
        }

        #container #client #output pre span.cyan {
          color: #74dad9;
        }

        #container #client #output pre span.bold {
          font-weight: bold;
        }

        #container #client #output pre span.italic {
          font-style: italic;
        }

        #container #client #output pre span.underline {
          text-decoration: underline;
        }

        #container #client #output pre span.no-bold {
          font-weight: normal;
        }

        #container #client #output pre span.no-italic {
          font-style: normal;
        }

        #container #client #output pre span.no-underline {
          text-decoration: none;
        }

    #container #client input {
      margin: 5px 0 0 0;
      width: 580px;
      font-family: DroidSansMono;
      font-size: 10px;
      color: #dddddd;
      background: #1b1b1b;
      border: 0;
    }

      #container #client input:focus {
        outline: none;
      }
