body {
  margin: 0;
  padding: 0;
  background: #111111;
  font-family: DroidSansMono;
  font-size: 10px;
  color: #dddddd;
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

#container {
  padding: 10px;
}

  #container #output {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }

    #container #output pre {
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    }

       #output pre span.self {
        color: #5d5d5d;
      }

       #output pre span.black {
        color: #404040;
      }

       #output pre span.red {
        color: #d08356;
      }

       #output pre span.green {
        color: #a2a96f;
      }

       #output pre span.yellow {
        color: #e3d96f;
      }

       #output pre span.blue {
        color: #8a9597;
      }

       #output pre span.magenta {
        color: #be96b3;
      }

       #output pre span.cyan {
        color: #74dad9;
      }

       #output pre span.white {
        color: #dddddd;
      }

       #output pre span.bold {
        font-weight: bold;
      }

       #output pre span.italic {
        font-style: italic;
      }

       #output pre span.underline {
        text-decoration: underline;
      }

       #output pre span.no-bold {
        font-weight: normal;
      }

       #output pre span.no-italic {
        font-style: normal;
      }

       #output pre span.no-underline {
        text-decoration: none;
      }

  #container #input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
  }

    #container #input input {
      padding: 5px 0;
      width: 100%;
      font-family: DroidSansMono;
      font-size: 12px;
      color: #dddddd;
      background: #272727;
      border: 0;
      border-top: 1px solid #333333;
      border-bottom: 1px solid #000000;
    }
