span.bold {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}

span.normal {
  color: #dddddd;
  font-weight: normal;
  text-decoration: none;
}

span.self {
  color: #5d5d5d;
}

span.black {
  color: #4a4a4a;
}

span.red {
  color: #d08356;
}

span.green {
  color: #a2a96f;
}

span.yellow {
  color: #e3d96f;
}

span.blue {
  color: #8a9597;
}

span.magenta {
  color: #be96b3;
}

span.cyan {
  color: #74dad9;
}

span.white {
  color: #ffffff;
}

span.black-bg {
  background: #4a4a4a;
}

span.red-bg {
  background: #d08356;
}

span.green-bg {
  background: #a2a96f;
}

span.yellow-bg {
  background: #e3d96f;
}

span.blue-bg {
  background: #8a9597;
}

span.magenta-bg {
  background: #be96b3;
}

span.cyan-bg {
  background: #74dad9;
}

span.white-bg {
  background: #ffffff;
}
