body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #909090;
  background: #272727;
  background-image: url('/img/background.png');
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

#header {
  padding: 15px;
  height: 20px;
  background: url('/img/header.png') repeat-x;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
}

  #header h1 {
    float: left;
    margin: 2px 15px 0 0;
    width: 75px;
    height: 25px;
    background: url('/img/logo.png') repeat-x;
    text-indent: -5000em;
  }

  #header p {
    margin: 5px 0 0 0;
    float: left;
  }

    #header p span {
      color: #ffffff;
    }

#client {
  margin: 25px auto 10px auto;
  padding: 10px;
  width: 585px;
  background: #1b1b1b;
  border: 1px solid #292929;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.50);
}

  #client .output {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: DroidSansMono;
    font-size: 10px;
    line-height: 14px;
    white-space: pre-wrap;
    color: #dddddd;
    width: 580px;
    height: 450px;
    background: #1b1b1b;
  }

    #client .output::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 1ex
    }

    #client .output::-webkit-scrollbar-thumb {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 1ex;
    }

    #client .output::-webkit-scrollbar-button:start:decrement,
    #client .output::-webkit-scrollbar-button:end:increment {
      display: block;
      height: 0;
    }

    #client .output::-webkit-scrollbar-thumb:vertical,
    #client .output::-webkit-scrollbar-thumb:horizontal {
      height: 3px;
      width: 3px;
      margin: 3px;
    }

    #client .output::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.25);
    }

    #client .output::-webkit-scrollbar {
      background-color: #272727;
    }

  #client input {
    margin: 10px 0 0 0;
    padding: 0;
    width: 580px;
    font-family: DroidSansMono;
    font-size: 10px;
    color: #dddddd;
    background: #1b1b1b;
    border: 0;
  }

    #client input:focus {
      outline: none;
    }
