body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #909090;
  background: #272727;
  background-image: url('/img/background.png');
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

#header {
  padding: 15px;
  height: 20px;
  background: url('/img/header.png') repeat-x;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
}

  #header h1 {
    float: left;
    margin: 2px 15px 0 0;
    width: 75px;
    height: 25px;
    background: url('/img/logo.png') repeat-x;
    text-indent: -5000em;
  }

  #header p {
    margin: 5px 0 0 0;
    float: left;
  }

    #header p span {
      color: #ffffff;
    }

#client {
  width: 100%;
}

  #client .output {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    height: 200px;
    font-family: DroidSansMono;
    font-size: 10px;
    line-height: 14px;
    white-space: pre-wrap;
    color: #dddddd;
  }

    #client .output::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 1ex
    }

    #client .output::-webkit-scrollbar-thumb {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 1ex;
    }

    #client .output::-webkit-scrollbar-button:start:decrement,
    #client .output::-webkit-scrollbar-button:end:increment {
      display: block;
      height: 0;
    }

    #client .output::-webkit-scrollbar-thumb:vertical,
    #client .output::-webkit-scrollbar-thumb:horizontal {
      height: 3px;
      width: 3px;
      margin: 3px;
    }

    #client .output::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.10);
    }

    #client .output::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0.10);
    }

#input {
  position: fixed;
  bottom: 0;
  padding: 10px;
  height: 25px;
  width: 100%;
  background: #1a1a1a url('/img/input.png') repeat-x;
}
  
  #input input {
    padding: 3px;
    width: 97.5%;
    font-family: DroidSansMono;
    font-size: 12px;
    color: #333333;
    background: #f3f3f3;
    border: 1px solid #ffffff;i
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
  }

    #input input:focus {
      outline: none;
    }
