<!doctype html>
<html lang='en'>
  <head>
    <title>muddy</title>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <link rel='stylesheet' type='text/css' media='all' href='/css/layout.css' />
    <link rel='stylesheet' type='text/css' media='all' href='/css/colors.css' />

    <script type='text/javascript' src='/js/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='http://cdn.socket.io/stable/socket.io.js'></script>
    <script type='text/javascript' src='/js/muddy.js'></script>
  </head>

  <body>
    <div id='container'>
      <div id='aliases'>
        <h2>Aliases</h2>

        <ul>
          <% for (alias in aliases) { %>
            <li>
              type <strong><%= alias %></strong>
              to <strong><%= aliases[alias] %></strong>
            </li>
          <% } %>
        </ul>
      </div>

      <div id='client'>
        <div id='tabs'>
          <ul>
            <li><a class='world selected' href='#'>World <span></span></a></li>
            <li><a class='tells' href='#'>Tells <span></span></a></li>
          </ul>
        </div>

        <div id='world' class='output'></div>
        <div id='tells' class='output'></div>

        <input type='text' />
      </div>
      
      <div id='triggers'>
        <h2>Triggers</h2>

        <ul>
          <% for (trigger in triggers) { %>
            <li>
              when <strong><%= trigger %></strong>
              then <strong><%= triggers[trigger] %></strong>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
